# Virtual environment
venv/

# Python cache files and directories
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/

# Operating system files
.DS_Store
Thumbs.db

# API key
api_key.py
.env

# Notes
ideas.md
brief.md

# Backup files
*.bak

# Data files
data/
*.csv
*.json
*.zip

# Model files
04_Model/Procfile
04_Model/runtime.txt
04_Model/app.py
04_Model/templates/
