# Virtual environment
venv/

# Python cache files and directories
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/

# Operating system files
.DS_Store
Thumbs.db

# api key
api_key.py

# notes
ideas.md
